<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{title|deafult(YouTrack)}}</title>
    <meta charset="UTF-8">
    <link href="./css/style.css" rel="stylesheet">
</head>


<body>
    <h1 text-align="center">Система слежения за заказами YouTrack</h1>
    <div class="Onas">
        <p>
            <h2>Немного о нас:</h2>
            <h3>Мы - компания друзей, решившие воплотить идею в жизнь.</h3>
            <h3>Наша цель - создание крупной системы слежения за заказами, в которой, как наши клиенты, предприниматели, смогут наблюдать и следить, как за курьерами, так и за заказами, в свою очередь,  своих клиентов и получать от них отзывы.</h3>    
        </p>
    </div>    
</body>
</html>